.error,
.error__box {
  display: grid;
  place-items: center;
}

.error {

  .error__status,
  .error__text {
    margin: 0;
    font-weight: 700;
  }

  .error__status {
    font-size: 70px;
  }

  .error__text {
    font-size: 40px;
  }

  .error__link {
    margin-top: 10px;
    font-size: 15px;

    &:hover {
      opacity: .7;
      text-decoration: underline;
    }
  }

}