.error,
.box {
  display: grid;
  place-items: center;
}

.status,
.text {
  margin: 0;
  font-weight: 700;
}

.status {
  font-size: 70px;
}

.text {
  font-size: 40px;
}

.link {
  margin-top: 10px;
  font-size: 15px;

  &:hover {
    opacity: .7;
    text-decoration: underline;
  }
}